<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jazz-timeline.css') }}">
    <title>Jazz Timeline </title>
</head>
<body class="custom-bg-dark">
<div class="jazz-timeline-wrapper" id="skrollr-body">
    {% for item in items %}
        <a href="{{ url_for('index.job_timeline', job=item.id) }}">
        <div class="jazz-timeline dark-timeline ultimate-style">
            <div class="timeline-post black-post">
                <div class="timeline-meta">
                    <div class="meta-details">
                        {% if item.schedule %}
                        {{ item.next_schedule | next_schedule_date }}
                        <br/>
                        {{ item.next_schedule | next_schedule_time }}
                        {% else %}
                            Never
                        {% endif %}
                    </div>
                </div>
                <div class="timeline-icon icon-dot">
                    <div class="timeline-bar"></div>
                </div>
                <div class="timeline-content"
                     data--5-bottom-top="opacity:0;transform: scale(0.05); transition: all 0.5s;"
                     data--30-bottom-top="opacity:0;transform: scale(0.3); transition: all 0.5s;"
                     data--50-bottom-bottom="opacity:1;transform: scale(1);">
                    <h2 class="content-title black-title"> {{ item.group }} - {{ item.name }} </h2>
                    <div class="content-details">
                        {% set count = 1 %}
                        {% for seq in item.sequence['commands'] %}
                            <p><em>{{ count }}:</em>&nbsp; {{ seq['exec'] }}</p>
                            {% set count = count + 2 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </a>

    {% endfor %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/skrollr.min.js') }}"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>
</body>
</html>
